@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


 .contactSection{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameInputContainer,
.emailInputContainer,
.messageInputContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameInputContainer{
z-index: 9999;
 transform: translateY(80px);
}
.emailInputContainer{
  transform: translateY(40px);
}

.nameLabel img,
.emailLabel img{
  transform: translate(15px, 30px);
}

label img{
  width: 150px;
  transform: translate(5px, 30px);
}




.nameInput,
.emailInput {
  background: url("email-box.png") no-repeat center center;
  background-size: cover;
  width: 400px;        
  height: 60px;        
  display: flex;
  align-items: center;
  padding: 0 20px;        
}


.nameInput input,
.emailInput input {
  width: 400px;
  height: 60px;
  padding-left: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  font-family: "Patrick Hand", cursive;
  color: #fff;            
}

.messageInput textarea{
  background: url("message-box.png") no-repeat center center;
  background-size: cover;
  max-width: 400px;
  min-width: 400px;
  max-height: 304px;       
  min-height: 304px;
  overflow: auto;  
  display: flex;
  align-items: center;
  border: none;   
  color: white;
  font-size: 1.5rem;
  font-family: "Patrick Hand", cursive;
  padding: 30px 40px;
  resize: none;
}




.messageInput textarea:focus{
border: none;
outline: none;
}


.messageInput{
  width: 400px;
  height: auto;
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  color: #fff;            
}

.sendBtnContainer{
  display: flex;
  justify-content: center;
}


.sendBtn{
  width: 10%;
  min-width: 150px;
  margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sendBtn:hover {
  filter: invert(1);
  transform: scale(1.05);
}

.sendBtn:active {
  transform: scale(0.95);
}

.sendBtn img{
  width: 100%;
}


@media screen and (max-width: 500px) {

  .contactSection{
  height: 60vh;

}

  .nameInput,
  .emailInput {
    width: 250px;
  }

  .messageInput{
    display: flex;
    justify-content: center;
  }

 .messageInput textarea{
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;       
  min-height: 200px;
  font-size: 1rem;
  padding: 20px 50px;
}

  .sendBtn{
    width: 20%;
    min-width: 100px;
  }

  .nameLabel img,
.emailLabel img{
  transform: translate(0px, 25px);
}

label img{
  width: 90px;
  transform: translate(0px, 20px);
}

.nameInput input,
.emailInput input {
  font-size: 1rem;
  padding-left: 5px;
}

.sendBtn{

  min-width: 80px;



}
  
}