.projectsSection>img{
  width: 500px;
  
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects{
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.projectLabel,
.projectImage {
  width: 50%;
  padding: 20px;
}

.digits img{
  width: clamp(2rem, 5rem, 11rem);
  cursor: pointer;
  transition: all 0.2s ease;
}

.digits img:hover{
  scale: 1.1;
}
.digits img:active{
  scale: 1;
}


.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.digits div{
  display: flex;
  gap: 10px;
}

button {
  background: none;
  border: none;
}


.display {
  width: 420px;
}

