.projectsSection>img{
  width: 500px;
  
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects{
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.projectLabel,
.projectImage {
  width: 50%;
  padding: 20px;
}

