.introduction {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.avatarImageContainer{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImage  {
width: 80%;
min-width: 600px;
}

.introTextContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.introText{
width: 80%;

}

.contactMeBtn,
.myProjectsBtn
 {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contactMeBtn:hover,
.myProjectsBtn:hover
 {
  filter: invert(1);
  transform: scale(1.05);
}

.contactMeBtn:active,
.myProjectsBtn:active{
  transform: scale(0.95);
}

.introCtaButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactMeBtn img,
.myProjectsBtn img{
width: 250px;
min-width: 200px;
}


.introContainer{
  width: 50%;
display: flex;
flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .introduction {
    flex-direction: column-reverse;
    height: auto;
    padding: 20px 0;
    margin-top: 20px;
  }
  .avatarImageContainer{
    width: 100%;
  }

  .avatarImage {
    width: 80%;
    min-width: unset;
    margin-bottom: 20px;
  }

  .introContainer {
    width: 60%;
    align-items: center;
    text-align: center;
  }

  .introCtaButtons {
    flex-direction: row;
    gap: 15px;
  }

  .contactMeBtn img,
  .myProjectsBtn img {
    width: 180px;
  }
}

@media screen and (max-width: 400px) {

  .introduction{
    margin:0;
    padding: 0;
  }

  .avatarImageContainer{
    width: 100%;
  }
  .avatarImage {
    width: 80%;
    min-width: unset;
  }

  .introText{
    width: 100%;
  }

  .introTextContainer{
    width: 100%;
    min-width: unset;
  }

  

  .contactMeBtn img,
  .myProjectsBtn img {
    width: 100px;
    min-width: unset;
  }

}