.introduction {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.avatarImage  {
width: 50%;
min-width: 400px;

}

.introText{
width: 90%;
min-width: 300px;
}

.contactMeBtn,
.myProjectsBtn
 {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contactMeBtn:hover,
.myProjectsBtn:hover
 {
  filter: invert(1);
  transform: scale(1.05);
}

.contactMeBtn:active,
.myProjectsBtn:active{
  transform: scale(0.95);
}

.introCtaButtons{
  display: flex;
  flex-direction: row;
}

.contactMeBtn img,
.myProjectsBtn img{
width: 250px;
min-width: 200px;
}


.introContainer{
  width: 50%;
display: flex;
flex-direction: column;
}

@media screen and (max-width: 900px) {
  .introduction {
    flex-direction: column-reverse;
    height: auto;
    padding: 20px 0;
    margin-top: 60px;
  }

  .avatarImage {
    width: 70%;
    min-width: unset;
    margin-bottom: 20px;
  }

  .introContainer {
    width: 60%;
    align-items: center;
    text-align: center;
  }

  .introCtaButtons {
    flex-direction: row;
    gap: 15px;
  }

  .contactMeBtn img,
  .myProjectsBtn img {
    width: 180px;
  }
}

@media screen and (max-width: 400px) {

  .introduction {
    margin-top: 40px;
  }

   .avatarImage {
    width: 80%;
    min-width: unset;
  }

  .introText {
    width: 120%;
    min-width: unset;
  }

  .contactMeBtn img,
  .myProjectsBtn img {
    width: 150px;
    min-width: 60px;
  }
}