.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navBar img {
  width: 160px;
}

.logo{
  width: 200px;
}

.navBar ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navBar ul li {
  list-style: none;
  cursor: pointer;
}

.home img,
.about img,
.skills img,
.projects img,
.contact img {
  transition: all 0.2s ease-in-out;
}

.home img:hover{
background: url('nav-bg.png') no-repeat center center;
  background-size: contain;
}

.about img:hover{
background: url('nav-bg-2.png') no-repeat center center;
  background-size: contain;
}
.skills img:hover{
background: url('nav-bg-3.png') center center;
background-size: contain;
}
.projects img:hover{
background: url('nav-bg.png') center center;
background-size: contain;
}
.contact img:hover{
background: url('nav-bg-4.png') no-repeat center center;
  background-size: contain;
}
.toggle{
  display: none;
  cursor: pointer;
}

.modeToggleContainer label{  
  cursor: pointer;
}

.modeToggleContainer img{
  width: 150px;
}