.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navBar img {
  width: 160px;
}

.logo{
  width: 200px;
}

.navBar ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navBar ul li {
  list-style: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.navBar ul li:hover {
  filter: invert(1);
  transform: scale(1.05);
}

.navBar ul li:active {
  transform: scale(0.95);
}


.home img:hover{
background: url('nav-bg-black-1.png') no-repeat center center;
  background-size: contain;
}

.about img:hover{
background: url('nav-bg-black-2.png') no-repeat center center;
  background-size: contain;
}
.skills img:hover{
background: url('nav-bg-black-3.png') center center;
background-size: contain;
}
.projects img:hover{
background: url('nav-bg-black-3.png') center center;
background-size: contain;
}
.contact img:hover{
background: url('nav-bg-black-4.png') no-repeat center center;
  background-size: contain;
}
.toggle{
  display: none;
  cursor: pointer;
}

.modeToggleContainer label{  
  cursor: pointer;
}

.modeToggleContainer img{
  width: 150px;
}