.header {
  width: 90%;
margin-left: auto;
margin-right: auto;
}

.navBar img {
  width: 80%;
  min-width: 150px;
}


.navBar {
  max-width: 1500px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.navBar ul{
  width: 100%;
  display: flex;
  flex-direction: row;

}

.navBar ul li {
  list-style: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.navBar ul li:hover {
  filter: invert(1);
  transform: scale(1.05);
}

.navBar ul li:active {
  transform: scale(0.95);
}


.home img:hover{
background: url('nav-bg-black-1.png') no-repeat center center;
  background-size: contain;
}

.about img:hover{
background: url('nav-bg-black-2.png') no-repeat center center;
  background-size: contain;
}
.skills img:hover{
background: url('nav-bg-black-4.png') center center;
background-size: contain;
}
.projects img:hover{
background: url('nav-bg-black-3.png') center center;
background-size: contain;
}
.contact img:hover{
background: url('nav-bg-black-4.png') no-repeat center center;
  background-size: contain;
}



@media screen and (max-width: 600px) {
.header {
width: 70%;
display: flex;
justify-content: center;
padding-top: 20px;

}

.navBar img {
  width: 50%;
  min-width: 80px;
}

.navBar ul{
  width: 50%;
  display: flex;
}
}