.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 10px 20px;
}

.navBar img {
  width: 100%;
  min-width: 100px;
}

.logoContainer {
  width: 200px;
  min-width: 100px;
}
.logo {
  width: 100%;
}

.navBar {
  width: 60%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navBar ul li {
  list-style: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.navBar ul li:hover {
  filter: invert(1);
  transform: scale(1.05);
}

.navBar ul li:active {
  transform: scale(0.95);
}


.home img:hover{
background: url('nav-bg-black-1.png') no-repeat center center;
  background-size: contain;
}

.about img:hover{
background: url('nav-bg-black-2.png') no-repeat center center;
  background-size: contain;
}
.skills img:hover{
background: url('nav-bg-black-4.png') center center;
background-size: contain;
}
.projects img:hover{
background: url('nav-bg-black-3.png') center center;
background-size: contain;
}
.contact img:hover{
background: url('nav-bg-black-4.png') no-repeat center center;
  background-size: contain;
}
.toggle{
  display: none;
  cursor: pointer;
}


.modeToggleContainer label{  
  cursor: pointer;
}

.modeToggleContainer img{
  width: 100%;
}

.modeToggleContainer{
  width: 200px;
}
@media screen and (max-width: 900px) {


.header{width: 100vw;
  padding: 0 10px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.logoContainer{
  width: 120px;
  grid-area: 1 / 1 / 2 / 2;
}

.modeToggleContainer{
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
  transform: translateX(15px);
  width: 100px;
}
.navBar{
  width: 100%;
  min-width: unset;
  grid-area: 2 / 1 / 3 / 3;
}


.navBar ul{
  width: 100%;
  gap: 10px;
  justify-content: center;
  justify-content: space-between;
}

.navBar ul img{
  width: 80%;
}  

/* .contact{
  margin-left: 20px;
} */

@media screen and (max-width: 600px) {

.navBar{
  padding: 0 30px;
}
.navBar img {
  width: 100%;
  min-width: 80px;
}

.contact{
  margin-left: 10px;
}

.iconWrapper {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar ul {
  width: 90%;
}
/* .contact{
  margin-left: 20px;
} */
}
}