.aboutSection{
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
width: 80%;
margin: auto;
}

.leftSide{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightSide{
  width: 50%;
}
.marathonImg {
  width: 50%;

}

.freiaImg{
  width: 50%;

}

.clapperImg{
  width: 100%;

}