*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skills{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}


.skillsSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}

.htmlIcon,
.cssIcon,
.jsIcon,
.reactIcon {
width: 100%;

}

.htmlLabel,
.cssLabel,
.jsLabel,
.reactLabel {
width: 100%;

}


.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 650px) {
  .skillsSection {
    height: 70vh;
    margin-top: 0;
  }

  .skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}
}