.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsSection>img {
  width: 500px;
}

.htmlIcon,
.cssIcon,
.jsIcon,
.reactIcon {
width: 500px;
}

.htmlLabel,
.cssLabel,
.jsLabel,
.reactLabel {
width: 300px;
}

.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 30px;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}