*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: none; /* remove default background */
  z-index: 0;
  display: flex;
 align-items: center;
 justify-content: center;
}

/* Background image layer */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('bg-paper-texture.jpg');
  object-fit: cover; 
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1); /* invert only the background */
  z-index: -1; /* place behind content */
  pointer-events: none;
}
