*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;

}

body{
  background: rgb(44, 44, 44);
}





main{
  height: 60vh;
}
